.select {
   width: 100%;
   height: 100px;
}

.search {
   width: 98%;
}

.col {
  position: relative;
  float: left;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
  width: 16.66666667%;
}

.buttonholder {
   position: relative;
   float: left;
}

.btn {
  display: block;
  width: 90%;
  margin: 2px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

